---
layout: default
---

{% include navigation.html %}

<div class="container">
	<div class="row justify-content-center mb-4">
		<div class="col-12 col-lg-10 col-xl-8 ml-top-padding">
			<div class="heading-title">
				<h1>Hi, I am John Choque</h1>
				<p>I make <a href="https://go.johnchque.com/youtube" target="_blank">YouTube videos</a>, host a <a
						href="/podcast">podcast</a>, and write a weekly newsletter called <a
						href="/weekly-realizations">Weekly Realizations</a>.</p>
			</div>
		</div>
	</div>

	<div class="row justify-content-center mb-4">
		<div class="col-12 col-lg-10 col-xl-8">
			<section class="mb-4">
				<img src="/assets/images/about.jpg" class="img-fluid mb-4" alt="">
				<p>
					I make videos about mental health, productivity, scholarships, and everything in between. My weekly
					newsletter contains information about my weekly findings and reflections about life. All to live a
					full life.
				</p>
				<p>
					If you want to join my newsletter, sign up below.
				</p>
				{% include newsletter.html %}
				<p>
					If you want to see my articles and newsletter issues, you'll find all of them <a
						href="/blog">here</a>.
				</p>
				<p>
					Besides that, I host a podcast with my friend Halima, called <a href="/podcast">The Thoughtful
						Millennial</a>. This podcast
					follows two self-proclaimed thoughtful millennials in their relentless journeys to becoming more
					socially conscious humans. And they draw from these experiences (amongst others) to
					present refreshing views on the big philosophical questions of our times. The perspectives shared
					are drawn from diverse cultural, economic and professional backgrounds which molded the choices that
					led them to today.
				</p>
				<p>
					Beyond YouTube and my podcast, I also work on other projects about sustainability.
				</p>
				<p>
					Currently, I contribute to <a href="https://www.openschoolsolutions.com/" target="_blank">OPENschool
						Solutions</a>. Creating a platform that will help introduce the
					OPENschool method in the current education system. The primer is to allow students to guide their
					own learning and have teachers as supporters of this process.
				</p>
				<p>
					Also, one of the most challenging initiatives I started is called <a
						href="https://www.historiasquenovemos.org/" target="_blank">#historiasquenovemos</a>, where we
					aim
					to normalize the male emotional expression so we learn to look for help. We want more men to take
					care of their mental health. And this is mainly focused on Latin American societies.
				</p>
				<p>
					If you want to know more about all my projects, you can see them <a href="/projects">here</a>.
				</p>
				<p>
					You can find me on <a href="https://twitter.com/johnchque" target="_blank">Twitter</a> and <a
						href="https://instagram.com/johnchque" target="_blank">Instagram</a>. If you like longer texts,
					you can send me an email at
					hello@johnchque.com.
				</p>
				<p>
					With love,
				</p>
				<p>
					John Choque
				</p>
			</section>
		</div>
	</div>
</div>