---
layout: default
---

{% include navigation.html %}

<div class="container">
	<div class="row justify-content-center mb-4">
		<div class="col-12 col-lg-8 col-xl-6 ml-top-padding">
			<div class="heading-title">
				<h1>Art</h1>
				<p class="p-large">Things I create, observe, and listen.</p>
				<p>This page is an index of the artistic work I made in my <a href="/work">projects</a>.</p>
			</div>
			<h2>Music</h2>
			<p>Music has been always part of my life.</p>
			{% assign ordered_albums = site.works | sort:"order" | reverse %}
			{% for album in ordered_albums %}
			{% if album.tags contains 'music' %}
			<a href="{{ site.baseurl }}{{ album.url }}">
				<div class="card mb-3">
					<div class="card-body">
						<h4>{{ album.title }}</h4>
					</div>
					<div class="card-text">
					</div>
				</div>
			</a>
			{% endif %}
			{% endfor %}
			<h2>Videography</h2>
			{% assign ordered_albums = site.works | sort:"order" | reverse %}
			{% for album in ordered_albums %}
			{% if album.tags contains 'videography' %}
			<a href="{{ site.baseurl }}{{ album.url }}">
				<div class="card mb-3">
					<div class="card-body">
						<h4>{{ album.title }}</h4>
					</div>
					<div class="card-text">
					</div>
				</div>
			</a>
			{% endif %}
			{% endfor %}
			<h2>Photography</h3>
				{% assign ordered_albums = site.works | sort:"order" | reverse %}
			{% for album in ordered_albums %}
			{% if album.tags contains 'photography' %}
			<a href="{{ site.baseurl }}{{ album.url }}">
				<div class="card mb-3">
					<div class="card-body">
						<h4>{{ album.title }}</h4>
					</div>
					<div class="card-text">
					</div>
				</div>
			</a>
			{% endif %}
			{% endfor %}
			<h2>Graphic design</h2>
			{% assign ordered_albums = site.works | sort:"order" | reverse %}
			{% for album in ordered_albums %}
			{% if album.tags contains 'design' %}
			<a href="{{ site.baseurl }}{{ album.url }}">
				<div class="card mb-3">
					<div class="card-body">
						<h4>{{ album.title }}</h4>
					</div>
					<div class="card-text">
					</div>
				</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>