---
layout: default
---

{% include navigation.html %}

<div class="container">
	<div class="row justify-content-center mb-4">
		<div class="col-12 col-lg-8 col-xl-6 ml-top-padding">
			<div class="heading-title">
				<h1>Art</h1>
				<p class="p-large">Things I create, observe, and listen.</p>
				<p>This page is an index of the artistic work I made in my <a href="/work">projects</a>.</p>
			</div>
			<h2>Music</h2>
			{% assign ordered_art = site.art | sort:"order" | reverse %}
			{% for art in ordered_art %}
			<a href="{{ site.baseurl }}{{ art.url }}">
				<div class="card mb-3">
					<div class="card-body">
						<h4>{{ art.title }}</h4>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>