---
layout: default
title: About
---

<div class="container">
  <div class="row justify-content-start mb-4 ml-top-padding">
    <div class="col-12 col-lg-3 text-start mb-5">
      <a href="/"><i class="ri-arrow-left-line"></i><em>Home</em></a>
    </div>
    <div class="heading-title col-12 col-lg-6">
      <header class="row align-items-start">
        <div class="col">
          <h1>Bio</h1>
        </div>
        <div class="col-1 text-end">
          <a class="page-scroll" href="#" id="btnSwitch"
            ><i class="ri-moon-line"></i
          ></a>
        </div>
      </header>
      <p class="lead">
        I am an advocate of multidisciplinarity and collaboration.
      </p>
      <section class="mb-5">
        <p>
          I was born and raised in El Alto, Bolivia. I graduated from Del Valle
          University in La Paz, Bolivia, with a Bachelor's degree in Computer
          Systems Engineering, and in 2014 I received an exchange scholarship to
          Tokyo, Japan.
        </p>
        <p>
          In 2016, I was accepted as an intern in Switzerland and moved to
          Zurich to work for 7 months. There, I learned about the value of open
          source communities.
        </p>
        <p>
          After returning to Bolivia, I joined Nucleo GNU/Linux, a free software
          study group. Along with the community we organised multiple events and
          talks.
        </p>
        <p>
          My passion for sustainability was later strengthened when I was
          selected for the Young Sustainable Impact programme in Norway. I
          started OPENschool with the team from the programme.
        </p>
        <p>
          After living in 5 different countries, I am trying to find my place in
          Copenhagen, Denmark. I enjoy an active life.
        </p>
        <div class="row mb-2">
          <div class="col-12 col-md-3 text-muted">GitHub</div>
          <div class="col-12 col-md-9">
            <a target="_blank" href="https://github.com/johnchque"
              >@johnchque</a
            >
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12 col-md-3 text-muted">Instagram</div>
          <div class="col-12 col-md-9">
            <a target="_blank" href="https://instagram.com/johnchque"
              >@johnchque</a
            >
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12 col-md-3 text-muted">YouTube</div>
          <div class="col-12 col-md-9">
            <a target="_blank" href="https://go.johnchque.com/youtube"
              >@johnchque</a
            >
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12 col-md-3 text-muted">LinkedIn</div>
          <div class="col-12 col-md-9">
            <a target="_blank" href="https://www.linkedin.com/in/johnchque"
              >/johnchque</a
            >
          </div>
        </div>
      </section>
      <section class="mb-5">
        <h2>Professional Experience</h2>
        {% assign ordered_projects = site.experiences | sort: 'date_end' |
        reverse %} {% for project in ordered_projects %} {% if project.category
        == 'professional' %}
        <div class="row mb-4">
          <div class="col-12">
            <a href="{{ project.external_url }}"
              >{{project.role}} - {{project.title}}</a
            >
            <p class="mb-0 text-muted">
              {{ project.date_start | date: "%b, %Y" }} - {% if project.date_end
              == project.date_start %}Present{% else %}{{ project.date_end |
              date: "%b, %Y" }}{% endif %}
            </p>
            <p class="mb-0">{{project.description | newline_to_br}}</p>
            <small class="text-muted">
              {{ project.skills | join: " • " }}
            </small>
          </div>
        </div>
        {% endif %} {% endfor %}

        <h2>Other Experience</h2>
        {% for project in ordered_projects %} {% if project.category ==
        'personal' %}
        <div class="row mb-4">
          <div class="col-12">
            <a href="{{ project.url }}">{{project.role}} - {{project.title}}</a>
            <div class="col-12 text-muted">
              {{ project.date_start | date: "%b, %Y" }} - {{ project.date_end |
              date: "%b, %Y" }}
            </div>
            <p class="mb-0">{{project.description | newline_to_br}}</p>
            <small class="text-muted">
              {{ project.skills | join: " • " }}
            </small>
          </div>
        </div>
        {% endif %} {% endfor %}

        <h2>Volunteering</h2>
        {% for project in ordered_projects %} {% if project.category ==
        'volunteering' %}
        <div class="row mb-4">
          <div class="col-12">
            <a href="{{ project.url }}">{{project.role}} - {{project.title}}</a>
            <div class="col-12 col-md-3 text-muted">
              {{ project.date_start | date: "%b, %Y" }} - {{ project.date_end |
              date: "%b, %Y" }}
            </div>
            <p class="mb-0">{{project.description | newline_to_br}}</p>
            <small class="text-muted">
              {{ project.skills | join: " • " }}
            </small>
          </div>
        </div>
        {% endif %} {% endfor %}
        <h2>Key achievements</h2>
        <p>The list of selected achievements I am the most proud of.</p>
        <ul>
          <li>
            <a href="https://unleash.org/rwanda/"
              >Participant at UNLEASH Rwanda</a
            >
            as one of 1000 talents with a full scholarship to attend the program
            (2023, Kigali - Rwanda).
          </li>
          <li>
            <a href="https://dclead.eu/student-life/students-and-alumni/"
              >Erasmus Master Scholarship</a
            >
            for the Digital Communication Leadership program (2021, Salzburg -
            Austria)
          </li>
          <li>
            <a
              href="https://www.clubdelecturalapaz.com/l/ganadores-concurso-de-cuento-violencia-de-genero/"
              target="_blank"
              >Winner of Short Story Contest</a
            >
            organised by Club de Lectura La Paz about Gender violence (June
            2020), one of the ten winners among 132 participants.
          </li>
          <li>
            <a
              href="https://www.facebook.com/quanticgames/photos/a.369294737063773/406444006682179"
              >Winner for Emprende Games</a
            >
            (September 2019) in the category of best audio with the game Puma
            Punku worth of 21 000 Bolivians.
          </li>
          <li>
            Award JCI TOYP Bolivia (Aug 2019), in the category “Personal
            Improvement and/or Accomplishment”
            <a></a>one of the 10 winners during 2019 of all Bolivia.
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=pkLg-LbCo0E"
              >Featured at "To change the world" documentary </a
            >(2019) produced by Young Sustainable Impact in Norway with the
            project Hubbing.
          </li>
          <li>
            Program YSI Global (2018, Oslo - Norway),
            <a
              href="https://www.instagram.com/p/BmQRk1lHAqh/?hl=en"
              target="_blank"
              >one of the 24 participants selected</a
            >
            among 8500 applicants. Innovation program to develop solutions for
            the UN sustainable development goals.
          </li>
          <li>
            <a
              href="https://drupalmountaincamp.ch/sites/default/files/2019-03/20190216%20-%20Drupal%20and%20Android%20through%20REST.pdf"
              target="_blank"
              >Speaker at Drupal Mountain Camp</a
            >
            (Mar 2019, Davos - Switzerland), talk: “Drupal and Android through
            REST: Quick integration”.
          </li>
          <li>
            <a
              href="https://www.youtube.com/watch?v=tn2SxXpQvGc"
              target="_blank"
              >Speaker at Drupal Europe</a
            >
            (Sep 2018, Darmstadt - Germany), talk: “Drupal PKM: A personal
            knowledge management Drupal distro”.
          </li>
          <li>
            <a
              href="https://events.drupal.org/nashville2018/grants-and-scholarships"
              target="_blank"
              >DrupalCon Grant</a
            >
            (Apr 2018, Nashville - USA), awarded with a full grant for expenses
            due to contribution to the Drupal community during 2017.
          </li>
          <li>
            <a
              href="https://dri.es/who-sponsors-drupal-development-2017"
              target="_blank"
              >Top 15th Drupal Contributor</a
            >
            in the world during 2017. Drupal.org.
          </li>
          <li>
            IAESTE Internship (Jan 2016 - Aug 2016, Zurich - Switzerland),
            selected for an internship abroad at the company MD Systems for 7
            months.
          </li>
          <li>
            Exchange Scholarship Soka University (創価大学) (Sep 2014 - Aug
            2015, Tokyo - Japan), selected as the only recipient of the annual
            scholarship during 2014.
          </li>
        </ul>
      </section>
      <img src="/assets/images/about.jpg" class="img-fluid" />
    </div>
  </div>
</div>
