---
layout: default
---

{% include navigation.html %}

<div class="container">
	<div class="row justify-content-center mb-4">
		<div class="col-12 ml-top-padding">
			<h1>The Garden</h1>
			<p class="p-large">My personal collection of essays, notes, and things I'm learning.</p>
			<div class="row mb-5" data-masonry='{"percentPosition": true }'>
				{% assign ordered_notes = site.notes | sort:"order" | reverse %}
				{% for note in ordered_notes %}
				<a href="{{ site.baseurl }}{{ note.url }}" class="col-sm-6 col-lg-4 mb-4 text-decoration-none">
					{% if note.category == "Essays" %}
					<div class="card">
						<img src="/assets/images/{{ note.banner_image }}" class="card-img-top" alt="...">
						<div class="card-body">
							<h3 class="card-title">{{ note.title }}</h3>
							<p class="card-text text-muted">{{ note.category }} - Updated {{ note.updated }}</p>
						</div>
					</div>
					{% elsif note.category == "Notes" %}
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">{{ note.title }}</h3>
							<p class="card-text">{{ note.description }}</p>
							<p class="card-text text-muted">{{ note.category }} - Updated {{ note.updated }}</p>
						</div>
					</div>
					{% else %}
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">{{ note.title }}</h3>
							<p class="card-text">{{ note.description }}</p>
							<p class="card-text text-muted">{{ note.category }} - Updated {{ note.updated }}</p>

						</div>
					</div>
					{% endif %}
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
