---
layout: default
title: Notes
---

<div class="container">
  <div class="row justify-content-start mb-4 ml-top-padding">
    <div class="col-12 col-lg-3 text-start mb-5">
      <a href="/"><i class="ri-arrow-left-line"></i><em>Home</em></a>
    </div>
    <div class="heading-title col-12 col-lg-6">
      <header class="row align-items-start">
        <div class="col">
          <h1>Notes</h1>
        </div>
        <div class="col-1 text-end">
          <a class="page-scroll" href="#" id="btnSwitch"
            ><i class="ri-moon-line"></i
          ></a>
        </div>
      </header>
      <p class="lead">Things I am independently learning and researching.</p>
      <p>
        I'm not keen for chronological feeds because they
        <a
          href="https://stackingthebricks.com/how-blogs-broke-the-web/"
          target="_blank"
          >ruined the fun web</a
        >.
      </p>
      <p>
        However, in this page you can see a list of all my public notes sorted
        by last updated time. This ensures that the notes I am more actively
        working on are shown first.
      </p>
      <p>
        If some things do not make sense, it is probably because the context is
        my private notes for my own understanding, sorry! I am constantly
        refining my notes and publish the ones the are the most relevant.
      </p>
      <div class="related-wrapper">
        {% assign note_items = site.notes | sort: "updated" | reverse %} {% assign
        notes_by_year = note_items | group_by_exp: "item", "item.updated | date:
        '%Y'" %} {% for year_group in notes_by_year %}
        <div class="year-group mb-4 position-relative">
          <div class="year-heading year text-muted mb-3">{{ year_group.name }}</div>
          {% for note_item in year_group.items %}
          <div class="row mb-3 mb-md-0">
            <div class="col">
              
              <a href="{{ note_item.url | relative_url }}"
                >{{ note_item.title }}</a
              >
            </div>
            <div class="col-auto text-end text-muted">
              {{ note_item.updated | date: "%B %d" }}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
