---
layout: default
title: Projects
---

<div class="container">
  <div class="row justify-content-start mb-4 ml-top-padding">
    <div class="col-12 col-lg-3 text-start mb-5">
      <a href="/"><i class="ri-arrow-left-line"></i><em>Home</em></a>
    </div>
    <div class="heading-title col-12 col-lg-6">
      <header class="row align-items-start">
        <div class="col">
          <h1>Projects</h1>
        </div>
        <div class="col-1 text-end">
          <a class="page-scroll" href="#" id="btnSwitch"
            ><i class="ri-moon-line"></i
          ></a>
        </div>
      </header>
      <p class="lead">
        A consolidated list of all the things I created along the years.
      </p>
      <p>
        The projects listed here have multiple shapes and forms, with different
        collaborators and purposes. They go from making a music video for a
        friend to having my own startup.
      </p>
      <p>
        I love building and creating things. That's why the list you see here is
        diverse in nature. I always love to explore new knowledge areas and even
        better if they are outside my common expertise.
      </p>
      <div class="related-wrapper">
        {% assign project_items = site.projects | sort: "date" | reverse %} {%
        assign notes_by_year = project_items | group_by_exp: "item", "item.date
        | date: '%Y'" %} {% for year_group in notes_by_year %}
        <div class="year-group mb-4 position-relative">
          <div class="year-heading year text-muted mb-3">
            {{ year_group.name }}
          </div>
          {% for project_item in year_group.items %}
          <div class="row mb-3 mb-md-0">
            <div class="col">
              <a href="{{ project_item.url | relative_url }}"
                >{{ project_item.title }}</a
              >

              <p>{{ project_item.description }}</p>
            </div>
            <div class="col-auto text-end text-muted">
              {{ project_item.date | date: "%B %d" }}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
