---
layout: default
---

{% include navigation.html %}

<div class="container-md">
  <div class="row mb-4">
    <div class="col-12 col-lg-8 ml-top-padding">
      <div class="heading-title mb-5">
        <h1>World</h1>
        <p class="lead">Photos and videos I have taken throughout the world.</p>
        {% for item in site.pages %} {% assign item_crumbs = item.url |
        remove_first: page.dir | split: '/' %} {% if item_crumbs.size == 2 and
        item_crumbs.first == 'world' %}
        <div class="row mb-3 mb-md-0">
          <div class="col-12 col-md-3">{{ item.date | date: "%B, %Y" }}</div>
          <div class="col">
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>
