---
layout: portfolio
title: "Music Covers"
description: "My work as a photographer in organizations, music, and events."
thumbnail: /assets/images/portfolio/design/musiccovers_thumbnail.jpg
category: Landscape
date: 19/02/2023
location: La Paz, Bolivia
parent: design
---

<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/sf_cover.jpg"
	class="col-12 col-md-6 mb-4" %}
	{% include image.html file="/assets/images/portfolio/design/sf_backcover.jpg"
	class="col-12 col-md-6 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/mos_cover.jpg"
	class="col-12 col-md-4 mb-4" %}
	<div class="col-12 col-md-4">
		<p>While working with <a>Vishay Khxl</a> writing music, I took the task of designing the song covers for all the singles and the album 'Subconscious Fallout'.</p>
		<p>The album cover for Subsconscious fallout represents the journey of losing oneself. The strength it needs to be compassionate and understanding with one thoughts.</p>
		<p>Memories of Us represents the pain of being apart from your loved ones. The symbol of conflict while dwelling in the memories of the past and telling oneself to let those memories go.</p> 
	</div>
	{% include image.html file="/assets/images/portfolio/design/osaat_cover.jpg"
	class="col-12 col-md-4 mb-4" %}
</div>
<div class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 mb-4">
		<p>
			Besides the work we made along Vishay Khxl, I also had the opportunity to design the album covers for his solo EP and other singles.
		</p>
		<p>
			Having Un-fair with more than 7000 streams, we thought of the covers to represent the messages of each feeling described in the songs. After extensive work and multiple iterations we achieved a cohesive look with similar color schemes that would convey what Vishay Khxl wanted to express.
		</p>
	</div>
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/design_unfair_cover.jpg"
	class="col-12 col-md-6 mb-4" %}
	{% include image.html file="/assets/images/portfolio/design/design_5moods_cover.jpg"
	class="col-12 col-md-6 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/design_ff_cover.jpg"
	class="col-12 col-md-4 mb-4" %}
	{% include image.html file="/assets/images/portfolio/design/design_bipolar_cover.jpg"
	class="col-12 col-md-4 mb-4" %}
	{% include image.html file="/assets/images/portfolio/design/design_sdts_cover.jpg"
	class="col-12 col-md-4 mb-4" %}
</div>
