---
layout: photography
title: "Music Covers"
description: "My work as a photographer in organizations, music, and events."
thumbnail: /assets/images/portfolio/photography/wedding_thumbnail.jpg
category: Landscape
date: 19/02/2023
location: La Paz, Bolivia
---

<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/sf_cover.jpg"
	class="col-12 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/sf_backcover.jpg"
	class="col-12 col-md-4 mb-4" %}
	{% include image.html file="/assets/images/portfolio/design/mos_cover.jpg"
	class="col-12 col-md-4 mb-4" %}
	{% include image.html file="/assets/images/portfolio/design/osaat_cover.jpg"
	class="col-12 col-md-4 mb-4" %}
</div>
<div class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 mb-4">
		<p>
			I read a poem for what we long. And wonder if all the weight will not be an obstacle anymore. I
			walk for longer to see the answer and reach for the places I never thought of.<br>
			One memory will cross my mind through the clouds that follow me. I feel peace at last.
		</p>
	</div>
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/design_unfair_cover.jpg"
	class="col-12 col-md-6 mb-4" %}
	{% include image.html file="/assets/images/portfolio/design/design_5moods_cover.jpg"
	class="col-12 col-md-6 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/design_ff_cover.jpg"
	class="col-12 col-md-6 mb-4" %}
	{% include image.html file="/assets/images/portfolio/design/design_bipolar_cover.jpg"
	class="col-12 col-md-6 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/design/design_sdts_cover.jpg"
	class="col-12 col-md-6 mb-4" %}
</div>
