<footer>
	<div class="container">
		<div class="row pt-3">
			<div class="col-md-6 col-sm-6 col-xs-12 my-3">
				<div id="text-2" class="widget widget_text">
					<h3>About</h3>
					<div class="textwidget">
						<p>
							Hi, I'm John. And I'm finding my way to intentional growth. Sharing knowledge about
							productivity, peace of mind and learning tools.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 my-3">
				<div id="recent-posts-3" class="widget widget_recent_entries">
					<h3>Recent Posts</h3>
					<ul class="recent-wrapper module-white">
						{% for post in site.posts limit:3 %}
						<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
							<span>{{ post.date | date: "%B %-d, %Y" }}</span></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="row py-3 border-top">
			<div class="col-md-6 col-sm-6 col-xs-12 text-center text-md-left">
				<p>© Copyright 2021. All Rights Reserved.</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 text-center text-md-right social-icons">
				<ul class="m-0 p-0">
					<li class="m-0">
						<a target="_BLANK" href="https://twitter.com/johnchque">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a target="_BLANK" href="https://instagram.com/johnchque">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a target="_BLANK" href="https://www.linkedin.com/in/johnchque">
							<i class="fab fa-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
