<footer>
	<div class="container">
		<div class="row pt-3">
			<div class="col-md-6 col-sm-6 col-xs-12 my-3">
				<div id="text-2" class="widget widget_text">
					<h3>About</h3>
					<div class="textwidget">
						<p>
							Social entrepreneur, software developer, and artist.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 my-3">
				<div id="recent-posts-3" class="widget widget_recent_entries">
					<h3>Recent Posts</h3>
					<ul class="recent-wrapper module-white">
						{% for post in site.posts limit:3 %}
						<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
							<span>{{ post.date | date: "%B %-d, %Y" }}</span></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="row py-3 border-top">
			<div class="col-md-6 col-sm-6 col-xs-12 text-center text-md-start">
				<p>© John Choque 2022.</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 text-center text-md-end social-icons">
				<ul class="m-0 py-1 px-0">
					<li class="m-0">
						<a target="_BLANK" class="dark text-decoration-none" href="https://go.johnchque.com/youtube">
							<i class="ri-xl ri-youtube-fill"></i>
						</a>
					</li>
					<li>
						<a target="_BLANK" class="dark text-decoration-none" href="https://twitter.com/johnchque">
							<i class="ri-xl ri-twitter-fill"></i>
						</a>
					</li>
					<li>
						<a target="_BLANK" class="dark text-decoration-none" href="https://instagram.com/johnchque">
							<i class="ri-xl ri-instagram-fill"></i>
						</a>
					</li>
					<li>
						<a target="_BLANK" class="dark text-decoration-none" href="https://www.linkedin.com/in/johnchque">
							<i class="ri-xl ri-linkedin-box-fill"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
