<footer class="mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="row py-4 text-muted">
          <div class="col-12 col-md-6 col-sm-6 text-center text-sm-start col-xs-12 ">
            <span>2025</span>
          </div>
          <div
            class="col-12 col-md-6 col-sm-6 col-xs-12 text-center text-md-end social-icons"
          >
            <ul class="m-0 py-1 px-0">
              <li class="m-0">
                <a
                  target="_BLANK"
                  class="text-decoration-none"
                  href="https://go.johnchque.com/youtube"
                >
                  youtube
                </a>
              </li>
              <li>
                <a
                  target="_BLANK"
                  class="text-decoration-none"
                  href="https://instagram.com/johnchque"
                >
                  instagram
                </a>
              </li>
              <li>
                <a
                  target="_BLANK"
                  class="text-decoration-none"
                  href="https://www.linkedin.com/in/johnchque"
                >
                  linkedin
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
