<footer>
	<div class="container-md">
		<div class="row py-4 border-top text-muted">
			<div class="col-md-6 col-sm-6 col-xs-12 text-center text-md-start">
				<span>© John Choque 2025.</span>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 text-center text-md-end social-icons">
				<ul class="m-0 py-1 px-0">
					<li class="m-0">
						<a target="_BLANK" class="dark text-decoration-none" href="https://go.johnchque.com/youtube">
							<i class="ri-xl ri-youtube-fill"></i>
						</a>
					</li>
					<li>
						<a target="_BLANK" class="dark text-decoration-none" href="https://twitter.com/johnchque">
							<i class="ri-xl ri-twitter-fill"></i>
						</a>
					</li>
					<li>
						<a target="_BLANK" class="dark text-decoration-none" href="https://instagram.com/johnchque">
							<i class="ri-xl ri-instagram-fill"></i>
						</a>
					</li>
					<li>
						<a target="_BLANK" class="dark text-decoration-none" href="https://www.linkedin.com/in/johnchque">
							<i class="ri-xl ri-linkedin-box-fill"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
