{% assign filenameparts = include.file | split: "/" %} {% assign filename =
filenameparts | last %} {% assign first_char = include.file | slice: 0 %} {% if
first_char == '/' %} {% assign full_url = site.url | append: include.file %} {%
else %} {% assign full_url = include.file %} {% endif %}

<a
  data-fslightbox
  href="{{ include.file | relative_url }}"
  title="{{ filename }}"
  class="{{ include.class }}"
>
  <img
    class="img-fluid"
    src="//images.weserv.nl/?url={{ full_url | replace: 'http://','' | replace: 'https://','' }}&output=jpg&q=70"
    alt="{{ filename }}"
    title="{{ filename }}"
  />
</a>
