<!-- <div class="container">
    <div class="row pt-3 justify-content-center">
        <div class="col-12 col-md-6 my-3 text-center" id="revue-embed">
            <div class="intro">
                <h2 class="text-center">Weekly realizations</h2>
                <p class="text-center">Every Sunday sharing the best findings from the web about productivity, mental health, and personal growth.</p>
            </div>
            <form action="https://www.getrevue.co/profile/johnchque/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
                <div class="form-group revue-form-group">
                    <input class="form-control-input" type="email" name="member[email]" placeholder="Email" id="member_email">
                    <small class="form-text text-muted">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</small>
                </div>
                <div class="form-group revue-form-actions">
                    <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" class="btn btn-solid-reg">
                </div>
            </form>
        </div>
    </div>
</div> -->
