---
layout: world
title: On my way to Hallstatt
---

{% include navigation.html %}

<div class="row justify-content-center ">
	<div class="col-12 col-md-8 my-5">
		{% include youtube_player.html id='c5okXBzVCZA' %}
	</div>
	<div class="col-12 col-md-8 my-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202109_hallstatt/landscape_005.jpg?updatedAt=1711554597701"
		class="my-5 d-block" %}
		<h5>Hallstatt</h5>
		<p>The main tourist spot of Hallstatt.</p>
	</div>
	<div class="col-12 col-md-8 my-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202109_hallstatt/landscape_006.jpg?updatedAt=1711554613367"
		class="my-5 d-block" %}
		<h5>Aerial view</h5>
		<p>A view of the town from the top of the hill.</p>
	</div>
</div>
