---
layout: world
title: On my way to Hallstatt
---

{% include navigation.html %}

<div class="row justify-content-center ">
	<div class="col-12 col-md-8 my-5 pb-5">
		{% include youtube_player.html id='KPQQ96HIJ78' %}
	</div>
    <div class="col-12 col-md-8 my-5 py-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_001.jpg?updatedAt=1711831518251"
		class="my-5 d-block" %}
		<h5>Hallstatt</h5>
		<p>The main tourist spot of Hallstatt.</p>
	</div>
    <div class="col-12 col-md-8 my-5 py-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_002.jpg?updatedAt=1711831517679"
		class="my-5 d-block" %}
		<h5>Hallstatt</h5>
		<p>The main tourist spot of Hallstatt.</p>
	</div>
    <div class="col-12 col-md-8 my-5 py-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_003.jpg?updatedAt=1711831518407"
		class="my-5 d-block" %}
		<h5>Hallstatt</h5>
		<p>The main tourist spot of Hallstatt.</p>
	</div>
    <div class="col-12 col-md-8 my-5 py-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_004.jpg?updatedAt=1711831518017"
		class="my-5 d-block" %}
		<h5>Hallstatt</h5>
		<p>The main tourist spot of Hallstatt.</p>
	</div>
    <div class="col-12 col-md-8 my-5 py-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_005.jpg?updatedAt=1711831518244"
		class="my-5 d-block" %}
		<h5>Hallstatt</h5>
		<p>The main tourist spot of Hallstatt.</p>
	</div>
    <div class="col-12 col-md-8 my-5 py-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_006.jpg?updatedAt=1711831517784"
		class="my-5 d-block" %}
		<h5>Hallstatt</h5>
		<p>The main tourist spot of Hallstatt.</p>
	</div>
</div>
