---
layout: world
title: Through the mountains in La Paz
description: La Paz, Bolivia
date: 02/2023
---

<div class="row justify-content-center ">
	<div class="col-12 my-5 pb-5">
		{% include youtube_player.html id='KPQQ96HIJ78' %}
	</div>
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_001.jpg?updatedAt=1711831518251"
		class="my-2 d-block" %}
		<p>On our way to snowboarding, going next to multiple mountains.</p>
	</div>
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_002.jpg?updatedAt=1711831517679"
		class="my-2 d-block" %}
		<p>A long way ahead to the nearest snowboarding spot, gorgeous landscape ahead.</p>
	</div>
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_003.jpg?updatedAt=1711831518407"
		class="my-2 d-block" %}
		<p>A house that may be hosting people today.</p>
	</div>
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_004.jpg?updatedAt=1711831518017"
		class="my-2 d-block" %}
		<p>The multiple mountains around create a contraste of colors.</p>
	</div>
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_005.jpg?updatedAt=1711831518244"
		class="my-2 d-block" %}
		<p>A house near the road wih new doors, possibly hosting people.</p>
	</div>
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/202302_lapaz/landscape_006.jpg?updatedAt=1711831517784"
		class="my-2 d-block" %}
		<p>Not all roads are as wide but it is common to find other cars rushing to their destinations.</p>
	</div>
</div>
