---
layout: world
title: 2 years in Copenhagen
description: Copenhagen, Denmark
date: 11/2024
---

<div class="row justify-content-center">
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/website/photos/20241117_cph/cph_1.jpg?updatedAt=1731864826382"
		class="my-2 d-block" %}
		<p>Børsen, before the fire.</p>
	</div>
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/website/photos/20241117_cph/cph_2.jpg?updatedAt=1731865566461"
		class="my-2 d-block" %}
		<p>From the top of the round tower.</p>
	</div>
    <div class="col-12 py-2 py-lg-5">
		{% include image.html file="https://ik.imagekit.io/johnchque/website/photos/20241117_cph/cph_3.jpg?updatedAt=1731864826295"
		class="my-2 d-block" %}
		<p>City center and an early afternoon.</p>
	</div>
</div>
