---
layout: default
---

{% include navigation.html %}

<div class="container">
  <div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-10 col-xl-8 ml-top-padding">
      <div class="heading-title">
        <h1>World</h1>
        <p>
          This page shows a list of the places I visited around the world and
          photos I have taken since I bought my first DSLR camera.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-10 col-xl-8">
      {% for item in site.pages %} {% assign item_crumbs = item.url |
      remove_first: page.dir | split: '/' %} {% if item_crumbs.size == 1 and
      item.name != 'index.html' %}
      <div class="row">
        <div class="col-12 col-md-3">{{ item.date | date: "%B %-d, %Y" }}</div>
        <div class="col">
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </div>
      </div>
      <hr />
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
