---
layout: default
title: "In the mountains of La Paz"
description: "My work as a photographer in organizations, music, and events."
banner_image: project/tedxucb_banner.png
thumbnail: /assets/images/portfolio_photography/2023_lapaz/lapaz_mountain.jpg
category: Community
order: 302
---

{% include navigation.html %}

<div class="container">
	<div class="row justify-content-center mb-4">
		<div class="col-12 ml-top-padding">
			<div class="heading-title">
				<h1>{{ page.title }}</h1>
				<p class="p-large">Landscape.</p>
			</div>
			<div class="row justify-content-center">
				{% include image.html file="/assets/images/portfolio_photography/2023_lapaz/lapaz_landscape_1.jpg" class="col-12 col-md-6 mb-4" %}

				<img class="col-12 col-md-6 img-fluid mb-4"
					src="/assets/images/portfolio_photography/2023_lapaz/lapaz_landscape_1.jpg">
				<img class="col-12 col-md-6 img-fluid mb-4"
					src="/assets/images/portfolio_photography/2023_lapaz/lapaz_landscape_2.jpg">
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-6 mb-4">
					<p>
						Con tu mirar soñé en mis noches de triste amor<br>
						y el tiempo que se fue lloré en mi alma su cruel dolor.<br>
						Por eso pienso en ti con nostalgias del dulce ayer<br>
						Y en esas horas sufro la inmensa angustia de mi querer. (bis)<br>

						Qué amargura de sentirse así<br>
						Alejado de tu corazón<br>
						Recordando lo que yo escribí<br>
						A solas con tu nombre para mi canción. (bis)<br>

						Pero debes volver a mí con ese tu mirar<br>
						Y con tus rojos labios que guardan besos que yo te di. (bis)<br>

						Qué amargura de sentirse así<br>
						Alejado de tu corazón<br>
						Recordando lo que yo escribí<br>
						A solas con tu nombre para mi canción. (bis)<br>

						Pero debes volver a mí con ese tu mirar<br>
						Y con tus rojos labios que guardan besos que yo te di.<br>
						Diverso - Pensando en ti
					</p>
				</div>
				<img class="col-12 col-md-6 img-fluid mb-4"
					src="/assets/images/portfolio_photography/2023_lapaz/lapaz_mountain.jpg">
			</div>
			<div class="row justify-content-center">
				<img class="col-12 col-md-4 img-fluid mb-4"
					src="/assets/images/portfolio_photography/2023_lapaz/lapaz_houses_1.jpg">
				<img class="col-12 col-md-4 img-fluid mb-4"
					src="/assets/images/portfolio_photography/2023_lapaz/lapaz_landscape_3.jpg">
				<img class="col-12 col-md-4 img-fluid mb-4"
					src="/assets/images/portfolio_photography/2023_lapaz/lapaz_houses_2.jpg">
			</div>
			<div class="row justify-content-center">
				<img class="col-12 col-md-6 img-fluid mb-4"
					src="/assets/images/portfolio_photography/2023_lapaz/lapaz_window_1.jpg">
				<img class="col-12 col-md-6 img-fluid mb-4"
					src="/assets/images/portfolio_photography/2023_lapaz/lapaz_window_2.jpg">
			</div>
		</div>
	</div>
</div>