---
layout: photography
title: "Through the streets of Napoli"
description: "My work as a photographer in organizations, music, and events."
banner_image: project/tedxucb_banner.png
thumbnail: /assets/images/portfolio_photography/2023_napoli/napoli_landscape.jpg
category: Community
date: 19/02/2023
location: Napoli, Italy
---

<div class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 mb-4">
		<p>
			Along with you I walk to new days, as the time slows down to my fears. The chaos I feel in my head is
			silenced by the sounds of this dream.<br>
			How can we escape forever? If few noises prevent the silence to go on. Under the sun we defean ourselves,
			and proceed the hold to unknowns.<br>
			I stare at ourselves through the sun, and it shows me a place to call home. With the eyes of the rest I
			connect to remember the pain of being gone.
			The walking nearby and the sight to the vulnerable shows me what to believe, how to form my thoughts, how to
			be myself again.<br>
			I hold you once to stop, to feel the moment perceived, I hope to believe once again, walking through the
			streets of Napoli.
		</p>
	</div>
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio_photography/2023_napoli/napoli_landscape_2.jpg"
	class="col-12 col-md-6 mb-4" %}
	{% include image.html file="/assets/images/portfolio_photography/2023_napoli/napoli_landscape_3.jpg"
	class="col-12 col-md-6 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio_photography/2023_napoli/napoli_landscape.jpg"
	class="col-12 mb-4" %}
</div>
<div class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 mb-4">
		<p>
			Call me hopeless, in this line of thoughts that I see. I will remind myself to exit the lines and wait for
			my name.<br>
			You smile for the times the writing was clear, I long for the self to follow my beliefs. We draw one more
			line to agree as a whole, one more hug to give each other as the time goes on. <br>
		</p>
	</div>
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio_photography/2023_napoli/napoli_street_vertical_1.jpg"
	class="col-12 col-md-4 mb-4" %}
	{% include image.html file="/assets/images/portfolio_photography/2023_napoli/napoli_street_vertical_2.jpg"
	class="col-12 col-md-4 mb-4" %}
	{% include image.html file="/assets/images/portfolio_photography/2023_napoli/napoli_street_vertical_3.jpg"
	class="col-12 col-md-4 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio_photography/2023_napoli/napoli_street_1.jpg"
	class="col-12 mb-4" %}
</div>