---
layout: default
title: "Napoli"
description: "My work as a photographer in organizations, music, and events."
banner_image: project/tedxucb_banner.png
thumbnail: /assets/images/portfolio_photography/2023_lapaz/lpz_mountain.jpg
category: Community
date: 19/02/2023
---

{% include navigation.html %}

<div class="container">
	<div class="row justify-content-center mb-4">
		<div class="col-12 ml-top-padding">
			
			<div class="row justify-content-center mb-4">
				<div class="col-12 col-md-8 col-lg-6 mb-4">
					<div class="heading-title">
						<h1>{{ page.title }}</h1>
						<p class="p-large">Landscape</p>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="text-uppercase text-muted">Location</div>
							<div>Napoli, Italy</div>
						</div>
						<div class="col-6">
							<div class="text-uppercase text-muted">Date</div>
							<div>June 2023</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 col-lg-6 mb-4">
					<p>
						Far away from the colors I've always known, I feel the air clear and cold. Everytime I'm at
						home, life seems to stop for a bit once again.
						This time, though, I have the chance to stop along.<br>
						Escaping from the endless buildings, we make a stop around the mountains. Near Wara Warani, I
						see around and look up at myself.
						All things I've seen all my life, are presented in immediate sight to the naked eye. The brown
						of the nature and the blue of the sky present
						the combination I always loved from this landscape.<br>
						I hope for myself to dream again, in the circles that my mind escapes for now. As the distance
						grows and these place forms an image in my mind, I'm ready for what's to come. I exist in the
						mountains of La Paz.
					</p>
				</div>
			</div>
			<div class="row justify-content-center">
				{% include image.html file="/assets/images/portfolio_photography/2023_napoli/DSC_1368.jpg"
				class="col-12 mb-4" %}
			</div>
			<div class="row justify-content-center">
				{% include image.html file="/assets/images/portfolio_photography/2023_napoli/DSC_1265.jpg"
				class="col-12 col-md-4 mb-4" %}
				{% include image.html file="/assets/images/portfolio_photography/2023_napoli/DSC_1315.jpg"
				class="col-12 col-md-4 mb-4" %}
				{% include image.html file="/assets/images/portfolio_photography/2023_napoli/DSC_1320_01.jpg"
				class="col-12 col-md-4 mb-4" %}
			</div>
		</div>
	</div>
</div>