---
layout: portfolio
title: "Wedding"
description: "My work as a photographer in weddings."
thumbnail: /assets/images/portfolio/cover_photography_wedding.jpg
category: Photography
parent_url: photography
parent_label: Photography
---

<div class="row justify-content-center">
	{% include image.html file="https://ik.imagekit.io/johnchque/website/photography_wedding/wedding_001.jpg?updatedAt=1713202139826"
	class="col-12 col-md-6 mb-4" %}
	{% include image.html file="https://ik.imagekit.io/johnchque/website/photography_wedding/wedding_002.jpg?updatedAt=1713202139730"
	class="col-12 col-md-6 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include image.html file="https://ik.imagekit.io/johnchque/website/photography_wedding/wedding_003.jpg?updatedAt=1713202139577"
	class="col-12 col-md-6 mb-4" %}
	{% include image.html file="https://ik.imagekit.io/johnchque/website/photography_wedding/wedding_004.jpg?updatedAt=1713202139772"
	class="col-12 col-md-6 mb-4" %}
	{% include image.html file="https://ik.imagekit.io/johnchque/website/photography_wedding/wedding_005.jpg?updatedAt=1713202139729"
	class="col-12 col-md-6 mb-4" %}
</div>
<div class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 mb-4">
		<p>
			More examples.
		</p>
	</div>
</div>
<div class="row justify-content-center">
	{% include image.html file="/assets/images/portfolio/photography/wedding_1.jpg"
	class="col-12 col-md-4 mb-4" %}
	{% include image.html file="/assets/images/portfolio/photography/wedding_2.jpg"
	class="col-12 col-md-4 mb-4" %}
	{% include image.html file="/assets/images/portfolio/photography/wedding_3.jpg"
	class="col-12 col-md-4 mb-4" %}
</div>
