body,
html {
	width: 100%;
	height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 4px;
	font-family: "PT Serif", serif
}

body,
p {
	color: #303133;
	font-family: "Lato" !important;
}

.p-large {
	font-size: 1.2rem;
}

.p-small {
	font-size: .75rem;
}

a {
	color: #307f96;
	transition: .3s;
}

a:hover {
	color: #1c4855
}

a.dark {
	color: #626262
}

a.back-to-top {
	position: fixed;
    z-index: 999;
    right: 0.75rem;
    bottom: 0.75rem;
    display: block;
    width: 2.625rem;
    height: 2.625rem;
    background: #3b3b3b url(../images/up-arrow.png) no-repeat center 47%;
    background-size: 1.125rem 1.125rem;
    text-indent: -9999px;
    visibility: hidden;
	transition: opacity .3s;
}

a:hover.back-to-top {
	background-color: #696969
}

.ml-top-padding {
	padding-top: 140px
}

.ri {
	vertical-align: middle
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #3b3b3b;
	text-decoration: none;
	transition: all .2s ease;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px
}

.navbar-custom {
	background-color: #fff;
	box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
	transition: all .2s;
	font: 400 14px/.875rem "Lato", sans-serif;
}

.navbar-custom .navbar-brand.logo-image img {
	height: 2rem
}

.navbar-custom .navbar-nav {
	margin-top: .75rem;
	margin-bottom: .5rem
}

.navbar-custom .nav-item .nav-link {
	padding: 1rem .75rem 1rem .75rem;
	color: #3b3b3b;
	text-decoration: none;
	transition: all .2s ease;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
}

.navbar-custom .nav-item .nav-link:hover {
	color: #307f96
}

@media (min-width:992px) {
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0
	}

	.navbar-custom .nav-item .nav-link {
		padding: .25rem .75rem .25rem .75rem;
		opacity: .8
	}

	.navbar-custom .nav-item .nav-link:hover {
		opacity: 1
	}

	.navbar-custom.top-nav-collapse {
		padding: .5rem 1.5rem .5rem 2rem;
		box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
		background-color: #fff
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #3b3b3b;
		opacity: 1
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover {
		color: #307f96
	}

	.p-heading {
		width: 65%
	}

	.ml-top-padding {
		padding-top: 170px
	}
}

@media (min-width:1200px) {
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem
	}

	.navbar-custom.top-nav-collapse {
		padding: .5rem 5rem .5rem 5rem
	}

	.p-heading {
		width: 55%
	}
}

.card .card-img-overlay {
	transition: all .8s cubic-bezier(.19, 1, .22, 1);
	background: rgba(59, 59, 59, .4)
}
.card:hover .card-img-overlay {
	transition: all .8s cubic-bezier(.19, 1, .22, 1);
	background: rgba(59, 59, 59, 0.089)
}

footer .btn-solid-reg {
	width: 100%
}

footer .social-icons ul li {
	display: inline-block;
	margin-left: 15px
}


/**
.btn-solid-reg {
	display: inline-block;
	color: #fff;
	background-color: #3b3b3b;
	border-radius: 0;
	border: 1px #3b3b3b solid;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 3px;
	text-decoration: none;
	padding: 10px;
	transition: unset
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #3b3b3b;
	text-decoration: none
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: .125rem solid #307f96;
	background-color: #307f96;
	color: #fff;
	font: 700 .75rem/0 Hind, sans-serif;
	text-decoration: none;
	transition: all .2s
}

.btn-solid-lg:hover {
	color: #fff;
	background-color: transparent;
	text-decoration: none
}




.form-control-input {
	display: block;
	width: 100%;
	border: 1px solid #3b3b3b;
	border-radius: unset;
	padding: .375rem .75rem;
	background-color: #fff;
	color: #626262;
	font: 400 .875rem/1.875rem Hind, sans-serif;
	-webkit-appearance: none
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
	.form-control-input {
		padding-top: 1.25rem;
		padding-bottom: .75rem;
		line-height: 1.75rem
	}
}

.form-control-input:focus {
	outline: 0
}

input[type=checkbox] {
	vertical-align: -15%;
	margin-right: .375rem
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
	input[type=checkbox] {
		vertical-align: -9%
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid #222;
	background-color: #222;
	color: #fff;
	font: 700 .75rem/1.75rem Hind, sans-serif;
	cursor: poHind;
	transition: all .2s
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #222
}

.post .post-meta {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px
}



.content::first-letter {
	font-size: 2em
}

.card {
	border: none;
	transition: all .5s cubic-bezier(.19, 1, .22, 1);
	overflow: hidden
}

@media (max-width:768px) {
	.card {
		min-height: 300px
	}
}

@media (max-width:420px) {
	.card {
		min-height: 250px
	}
}

.card .card-meta {
	color: #307f96
}

.card:hover {
	cursor: pointer;
	transition: all .8s cubic-bezier(.19, 1, .22, 1)
}
