:root {
	--bs-nav-link-padding-y: 0;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-bg: #1b1b1b;
	--bs-link-color-rgb: 52, 160, 191;
	--bs-body-color: #f3f4f6;
	--bs-primary-rgb: 48,127,150;
}

[data-bs-theme=white] {
	--bs-link-color-rgb: 48,127,150;
	--bs-body-color: #000;
	--bs-primary-rgb: 48,127,150;
}

@font-face {
    font-family: 'Geist';
    src: url('../fonts/GeistVF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 4px;
	font-family: "PT Serif", serif;
}

body,
p {
	font-family: "Geist" !important;
	font-size: 15px;
	line-height: 1.5;
}

.p-large {
	font-size: 1.2rem;
}

.p-small {
	font-size: .75rem;
}

a {
	transition: .3s;
}

a:hover {
	color: #1c4855
}

a.dark {
	color: #626262
}

a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: block;
	width: 2.625rem;
	height: 2.625rem;
	background: #3b3b3b url(../images/up-arrow.png) no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
	visibility: hidden;
	transition: opacity .3s;
}

a:hover.back-to-top {
	background-color: #696969
}

.ml-top-padding {
	padding-top: 140px
}

i[class^="ri"],
span {
  display: inline-block;
  vertical-align: text-top;
}

.navbar-custom .navbar-toggler {
	border: none;
	/**color: #3b3b3b;**/
	text-decoration: none;
	transition: all .2s ease;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px
}

.navbar-custom {
	box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
	transition: all .2s;
	font: 400 14px/.875rem "Geist", sans-serif;
	background-color: var(--bs-body-bg);
}

.navbar-custom .navbar-brand.logo-image img {
	height: 2rem
}

.navbar-custom .navbar-nav {
	margin-top: .75rem;
	margin-bottom: .5rem
}

.navbar-custom .nav-item .nav-link {
	padding: 1rem .75rem 1rem .75rem;
	/**color: #3b3b3b;**/
	text-decoration: none;
	transition: all .2s ease;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
}

.navbar-custom .nav-item .nav-link:hover {
	color: #307f96
}

@media (min-width:992px) {
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0
	}

	.navbar-custom .nav-item .nav-link {
		padding: .25rem .75rem .25rem .75rem;
		opacity: .8
	}

	.navbar-custom .nav-item .nav-link:hover {
		opacity: 1
	}

	.navbar-custom.top-nav-collapse {
		padding: .5rem 1.5rem .5rem 2rem;
		box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
		background-color: var(--bs-body-bg);
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		/**color: #3b3b3b;**/
		opacity: 1
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover {
		color: #307f96
	}

	.p-heading {
		width: 65%
	}

	.ml-top-padding {
		padding-top: 170px
	}
}

@media (min-width:1200px) {
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem
	}

	.navbar-custom.top-nav-collapse {
		padding: .5rem 5rem .5rem 5rem;
		background-color: var(--bs-body-bg);
	}

	.p-heading {
		width: 55%
	}
}

.card .card-img-overlay {
	transition: all .8s cubic-bezier(.19, 1, .22, 1);
	background: rgba(59, 59, 59, .4)
}

.card:hover .card-img-overlay {
	transition: all .8s cubic-bezier(.19, 1, .22, 1);
	background: rgba(59, 59, 59, 0.089)
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	height: 0;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.photos img {
	width: 100%;
}


.hover img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s;
}

.hover-content {
	position: relative;
	z-index: 99;
}


.hover-1 img {
	width: 105%;
	position: absolute;
	top: 0;
	left: -5%;
	transition: all 0.3s;
}

.hover-1-content {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	transition: all 0.4s;
}

.hover-1 .hover-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
	transform: translateY(0.5rem);
	transition: all 0.4s;
	opacity: 0;
}

.hover-1:hover .hover-1-content {
	bottom: 2rem;
}

.hover-1:hover .hover-1-description {
	opacity: 1;
	transform: none;
}

.hover-1:hover img {
	left: 0;
}

.hover-1:hover .hover-overlay {
	opacity: 0;
}


footer .btn-solid-reg {
	width: 100%
}

footer .social-icons ul li {
	display: inline-block;
	margin-left: 15px
}
