---
layout: default
title: "Photography"
description: "My work as a photographer in organizations, music, and events."
banner_image: project/tedxucb_banner.png
thumbnail: /assets/images/thumbnails/photography.jpg
category: Community
order: 302
---

{% include navigation.html %}

<div class="container">
	<div class="row justify-content-center mb-4">
		<div class="col-12 ml-top-padding">
			<div class="heading-title">
				<h1>Photography</h1>
				<p class="p-large">Things I observe and create.</p>
			</div>
			<div class="row justify-content-center" data-masonry='{"percentPosition": true }'>
				{% include image-gallery.html folder="/assets/images/portfolio_photography" class="col-12 col-md-6 col-lg-4 mb-4" %}
			</div>
		</div>
	</div>
</div>
