---
layout: default
---

<div class="container">
  <div class="row ml-top-padding">
    <div class="col-12 col-lg-3 text-start mb-5">
      <a href="/notes" class="notes-back-link">
        <i class="ri-arrow-left-line mb-2"></i><em>Notes</em>
      </a>
    </div>

    <article class="heading-title col-12 col-lg-6">
      <header class="d-flex justify-content-between align-items-start mb-3">
        <div class="emphasis">
          {% case page.category %} {% when 'Learning' %}
          <i class="ri-book-2-fill"></i>
          {% when 'Seedling' %}
          <i class="ri-seedling-fill"></i>
          {% when 'Budding' %}
          <i class="ri-plant-fill"></i>
          {% when 'Evergreen' %}
          <i class="ri-tree-fill"></i>
          {% else %}
          <i class="ri-leaf-fill"></i>
          {% endcase %} {{ page.category }}
        </div>
        <a
          href="#"
          class="theme-toggle"
          id="btnSwitch"
          aria-label="Toggle dark mode"
        >
          <i class="ri-moon-line"></i>
        </a>
      </header>
      <h1>{{ page.title }}</h1>

      {% if page.description %}
      <p class="lead text-muted mb-4">{{ page.description }}</p>
      {% endif %}

      <section>{{content}}</section>
    </article>
  </div>
</div>
