---
layout: default
---

{% include navigation.html %}

<!-- Blog Detail Start -->

<div class="container">
	<div class="row justify-content-center mb-4">
		<div class="col-12 ml-top-padding">
			<div class="row justify-content-center mb-4">
				<div class="col-12 col-md-8 mb-4">
					<div class="heading-title">
						<a href="/world">
							<i class="ri-arrow-left-line"></i> World
						</a>
						<h1>{{ page.title }}</h1>
						<p class="p-large">{{ page.description }}</p>
					</div>
				</div>
			</div>
			{{ content }}
		</div>
	</div>
</div>