---
layout: portfolio
title: "Music Videos"
description: "My work as a videographer in organizations, music, and events."
banner_image: project/tedxucb_banner.png
thumbnail: /assets/images/portfolio/cover_video_music.jpg
category: Video
parent_url: video
parent_label: Video Production
---

<div class="row justify-content-center">
	{% include video.html link="https://www.youtube.com/watch?v=YaoxZFN-q5c" file="assets/images/portfolio/video/music_video_unfair.jpg"
	class="col-12 mb-4" %}
</div>
<div class="row justify-content-center">
	{% include video.html link="https://www.youtube.com/watch?v=XTVx2V3XHMc" file="assets/images/portfolio/video/music_video_senses.jpg"
	class="col-12 col-md-6" %}
	{% include video.html link="https://www.youtube.com/watch?v=F2HQZczFDH4" file="assets/images/portfolio/video/music_video_sdts.jpg"
	class="col-12 col-md-6" %}
</div>
